*{
    border: none !important;
    border-radius: 0px;

}
#modal-content{
    width: 100%;
    overflow: hidden;

}

input { padding:5px; border:1px solid #999; border-radius:4px; -moz-border-radius:4px; -web-kit-border-radius:4px; -khtml-border-radius:4px; 
margin-bottom: 5px;
width: 31%;
}
html,
body {
    height: 100%;
    background: #ccc !important;
}
.add_field_button {
    padding: 9px 10px;
    background: #2E8965;
    color: #fff;
    text-decoration: none;
}
.tab-content > .active {
    display: block;
    margin-top: 21px;
}
.add_field_button:hover
{
    text-decoration: none;
    color: #fff;
}
#imageinput {
    margin-top: 15px;
}
.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view td {
    white-space: nowrap;
}

.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}

.panel-heading {
    padding: 5px 15px;
}

.panel-footer {
    padding: 1px 15px;
    color: #A0A0A0;
}

.profile-img {
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
.panel-heading {
    text-align: center;
}

.panel-heading {
    padding: 5px 15px;
}

.panel-footer {
    padding: 1px 15px;
    color: #A0A0A0;
}

.profile-img {
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
.panel-heading {
    text-align: center;
}
a#logout{
    color: #fff;
    text-decoration: none;
}
a#login {
    color: #fff;
    text-decoration: none;
}
.signup{
    width: 400px;
    margin:0 auto;
    }header{
    height: 80px;
    width: 100%;
    background: #3a5795;
}
.panel-heading {
    padding: 5px 15px;
}

.panel-footer {
    padding: 1px 15px;
    color: #A0A0A0;
}

.profile-img {
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
.panel-heading {
    text-align: center;
}
a#logout{
    color: #fff;
    text-decoration: none;
}
a#login {
    color: #fff;
    text-decoration: none;
}
.signup{
    width: 400px;
    margin:0 auto;
    }header{
    height: 80px;
    width: 100%;
    background: #3a5795;
}
.panel-heading {
    padding: 5px 15px;
}

.panel-footer {
    padding: 1px 15px;
    color: #A0A0A0;
}

.profile-img {
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
.panel-heading {
    text-align: center;
}

.signup{
    width: 400px;
    margin:0 auto;
    }
.panel-default {
    border-color: #ddd;
    border: 1px solid #ccc !important;
}
.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
    background: #fff;
}
thead{
    background: #6AF874;
}
.wrapper{
    width: 100%;
    height: auto;
    overflow: hidden;
        margin-top: 35px;
}
.wrapper>.left{
   /* width: 17%;*/
    padding:0px 0px 0px 10px;
    margin-top: 35px;
}
.wrapper>.right{
    width: 100%;
    padding-right: 10px;
       /* margin-left: 18%;*/
}
.wrapper>.left, .wrapper>.right{
    float: left;
}
.panel-group .panel + .panel {
  margin-top: 0px !important;
}
.panel-heading .accordion-toggle:after {
    position: absolute;
    /* symbol for "opening" panels */
    font-family: 'Glyphicons Halflings';  /* essential for enabling glyphicon */
    content: "\e114";    /* adjust as needed, taken from bootstrap.css */
    right: 0px; 
    margin-top: -10px;
     /* adjust as needed */
    color: grey;         /* adjust as needed */
}
.panel-heading .accordion-toggle.collapsed:after {
    position: absolute;
      right: 0px; 
  
    content: "\e080";    /* adjust as needed, taken from bootstrap.css */
}

.navbar-inverse {
    background-color: #438EB9;
    border-color: #080808;

}
.navbar-inverse .navbar-brand {
    color: #fff;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    color: #fff;
    background-color: #2E8965;
}
.navbar-inverse .navbar-nav > li > a {
     color: #fff;
    background-color: #2E8965;
}
span.glyphicon.glyphicon-bell {
    font-size: 20px;
    padding: 0px 10px;
    vertical-align: middle;
}
span#notifcation {
    position: absolute;
    top: 2px;
    right: 12px;
    background: rgba(0,0,0,0.5);
    font-size: 13px;
    padding: 0px 6px;
    border-radius: 100%;
}
.navbar-inverse .btn-link {
    color: #fff;
}
.modal-content {
      background: #ccc;
    overflow: hidden;
}