@media (max-width:768px) {
	.inner-signin {
	float: left;
}
.inner-signin .login a:hover, .inner-signin .regester a:hover{
	background: unset !important;
}
#input-search{
	width: 100%;
}
#submit-search{
	right: 0 !important;
}
.content-right {
    width: 100%;
    padding: 0px !important;
}
.content-left{
	width: 100%;
}

.category-product-title{
	margin-left: 0px !important;
	border: none !important;
	height: auto !important;
}
.parent ul{
	margin-left: 0px !important;
}
.more{
	float: left;
}
.list-product li{
    width: 100%;
    float: none !important;
    margin:1% 1% 0 0;
}
.product{
	margin-top: 30px;
}
.img-product{
	width: 50% !important;
	height: auto;
}
.product-detail-img{
	height: auto !important;
}
.slideshowproduct .slide {
    width: 100% !important;
    height: auto;
  
}
.addcart-share-fb a:first-child{
margin-left: 10px;
}
.addcart-share-fb{
	margin-left: 10px;
}

.nav-tabs li.active a:before{
    content: "";
    width: 0;
    height: 0;
   
   position: absolute;
   top:3px;
   left: 10px;
}
.nav-tabs li{
width: 165px;
margin: 0px 0px 2px;
}
.product-name-detail,.product-price{
	margin-left:15px;

}
}